/* Ferramenta para ajustar animation range:
https://scroll-driven-animations.style/tools/view-timeline/ranges/#range-start-name=cover&range-start-percentage=0&range-end-name=cover&range-end-percentage=100&view-timeline-axis=block&view-timeline-inset=0&subject-size=smaller&subject-animation=reveal&interactivity=clicktodrag&show-areas=yes&show-fromto=yes&show-labels=yes
*/

/* Testando animações */
@keyframes scroll-left {
    from{
        filter: blur(8px);
        opacity: 0;
        translate: -100vw 0;
    }

    to{
        filter: blur(0);
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes scroll-right {
    from{
        filter: blur(3px);
        opacity: 0;
        translate: 100vw 0;
    }

    to{
        filter: blur(0);
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes scroll-top {
    0%{
        filter: blur(3px);
        opacity: 0;
        translate: 0 -30vw;
    }

    50%{
        filter: blur(1px);
        opacity: .5;
        translate: 0 0;
    }

    100%{
        filter: blur(0);
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes scroll-blur {
    from{
        opacity: 0;
        filter: blur(3px);
    }

    to{
        filter: blur(0);
        opacity: 1;
    }
}

/* FEATURE ============================================================*/
@media (min-width: 950px){
    #features h2{
        animation: scroll-left 1s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
    }
    
    #features p{
        animation: scroll-right 1s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
    }
    
    #features img{
        animation: scroll-top 1s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
    }
    
    #features span::after{
        animation: scroll-right 1s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 40%;
    }
    
    #features span::before{
        animation: scroll-left 1s ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 40%;
    }
}


/* DESIGN =============================================================*/
@media (min-width: 950px){
#design h2{
    animation: scroll-left 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#design p{
    animation: scroll-right 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#card1{
    animation: scroll-left 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

#card2{
    animation: scroll-right 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

#card3{
    animation: scroll-left 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
}

/* MODELS =============================================================*/
@media (min-width: 950px){
#model h2{
    animation: scroll-left 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#model p{
    animation: scroll-right 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#model img{
    animation: scroll-top 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#model button{
    animation: scroll-blur 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 10%;
}
}

/* FORM =============================================================*/
@media (min-width: 950px){
#form-feedback h3{
    animation: scroll-top 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 80%;
}

#form-feedback p{
    animation: scroll-left 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#form-feedback form{
    animation: scroll-right 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 25%;
}
}