#design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    padding-top: 4rem;
}

#design h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#design p{
    padding: 0 .8rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--color-tertiary);
}

#cards-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.cards{
    width: 80%;
    height: 40vh;
    background-color: var(--color-dark);
    padding: 5rem;
    border-radius: 4rem;
}

@media (min-width: 850px){
    #design {
        height: 100vh;
        justify-content: center;
    }

    #design p{
        margin-bottom: 0rem;
    }

    #cards-div{
        padding: 1rem;
        flex-direction: row;
        gap: 2rem;
        height: 60vh;
        width: 90vw;
    }

    .cards{
        max-width: 280px;
        height: 40vh;
        max-height: 400px;
        padding: 4rem;
    }

    .cards:hover{
        transition: 1.5s;
        transform: scale(1.1);
        background-color: var(--color-prymary);
    }
}

@media (min-width: 1440px){
    #cards-div{
        gap: 4rem;
    }
}