#features {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 4rem;
}

#features h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#features p{
    color: var(--color-tertiary);
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
}

#features div{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url("../assets/degradê\ \(1\).png") no-repeat center;
    background-size: 100% 100%;
}

#features img{
    width: 200px;
    height: 300px;
    position: relative;
    z-index: 2;
}

#features span::after{
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background: url('../assets/mobile-bluetooth.svg') no-repeat;
    background-size: 300px 300px;
    position: absolute;
    top: 124%;
    right: 2rem;
    z-index: 3;
}

#features span::before{
    content: '';
    display: block;
    width: 250px;
    height: 300px;
    background: url('../assets/batery-mobile.svg') no-repeat;
    background-size: 300px 300px;
    position: absolute;
    top: 165vh;
    left: 0.5rem;
    z-index: 3;
}


@media ((max-width: 375px) and (max-height: 660px)){
    #features div{
        margin-top: 5rem;
    }

    #features img{
        width: 180px;
        height: 200px;
    }

    /* imagem da direita*/
    #features span::after{
        width: 250px;
        height: 250px;
        background: url('../assets/mobile-bluetooth.svg') no-repeat;
        background-size: 250px 250px;
        top: 134%;
        right: 2rem;
    }

    /* imagem da esquerda*/
    #features span::before{
        width: 250px;
        height: 250px;
        background-size: 250px 250px;
        top: 174vh;
        left: 0;
    }
}

@media ((min-width: 441px) and (max-height: 736px)){
    #features h2{
        font-size: 2rem;
    }
    
    #features p{
        font-size: 1rem;
    }

    #features div{
        margin-top: 3rem;
    }

    #features img{
        width: 210px;
        height: 250px;
    }

    /* imagem da direita*/
    #features span::after{
        width: 300px;
        height: 300px;
        background: url('../assets/mobile-bluetooth.svg') no-repeat;
        background-size: 280px 250px;
        top: 130%;
        right: 0rem;
    }

    /* imagem da esquerda*/
    #features span::before{
        width: 300px;
        height: 300px;
        background-size: 250px 250px;
        top: 170vh;
        left: 2rem;
    }
}

@media (min-width: 350px){
    #features div{
        width: 100vw;
        background: url("../assets/degradê\ \(1\).png") no-repeat center;
        background-size: 150% 100%;
        margin-top: 1rem;
    }

    #features span::after{
        top: 128%;
    }
}

@media (min-width: 440px){
    #features span::before{
        left: 5rem;
    }

}

@media (min-width: 486px){
    #features div{
        background-size: 100% 100%;
    }

    #featu#features span::after{
        right: 5rem;
    }
}

@media (min-width: 565px){
    #features span::after{
        right: 7rem;
    }
}

@media (min-width: 596px){

    #features span::after{
        right: 9rem;
    }

    #features span::before{
        left: 9rem;
    }
}

@media (min-width: 680px){
    #features span::before{
        left: 10rem;
    }

    #features span::after{
        right: 11rem;
    }
}

@media (min-width: 720px){
    #features span::before{
        left: 12rem;
    }

    #features span::after{
        right: 13rem;
    }
}

/* Tablet */
@media (min-width: 750px){
    #features img{
        width: 250px;
        height: 350px;
    }

    /* imagem da direita*/
    #features span::after{
        width: 300px;
        height: 300px;
        background: url('../assets/desk-bluetooth.svg') no-repeat;
        background-size: 300px 400px;
        top: 120%;
        right: 2rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        width: 300px;
        height: 300px;
        background: url('../assets/batery-desk.svg') no-repeat;
        background-size: 300px 300px;
        top: 140vh;
        left: 2rem;
    }
}

@media (min-width: 850px){
    /* imagem da direita*/
    #features span::after{
        width: 350px;
        height: 350px;
        background-size: 300px 470px;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        width: 300px;
        height: 300px;
        background-size: 300px 300px;
        left: 3rem;
    }
}

@media (min-width: 900px){
    #features span::before{
        left: 5rem;
    }
}

@media (min-width: 930px){
    #features span::after{
        right: 3rem;
    }
    #features span::before{
        left: 6rem;
    }
}

@media (min-width: 990px){
    #features img{
        width: 300px;
        height: 400px;
    }
}

/* desktop*/
@media (min-width: 990px){
    /* imagem da direita*/
    #features span::after{
        width: 400px;
        height: 500px;
        background-size: 390px 600px;
        top: 115%;
        right: 0rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        width: 500px;
        height: 600px;
        background-size: 460px 600px;
        top: 125vh;
        left: 1rem;
    }
}

@media (min-width: 1045px){
    #features div{
        background-size: 60% 120%;
    }


    #features span::after{
        width: 450px;
        height: 500px;
        background-size: 450px 600px;
        top: 115%;
        right: 0rem;
    }
}

@media (min-width: 1100px){
    /* imagem da direita*/
    #features span::after{
        right: 0rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 3rem;
    }
}

@media (min-width: 1180px){
    /* imagem da direita*/
    #features span::after{
        right: 3rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 6rem;
    }
}

@media (min-width: 1260px){
    /* imagem da direita*/
    #features span::after{
        right: 6rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 8rem;
    }
}

@media (min-width: 1300px){
    /* imagem da direita*/
    #features span::after{
        right: 8rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 10rem;
    }
}

@media (min-width: 1360px){
    /* imagem da direita*/
    #features span::after{
        right: 11rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 12rem;
    }
}

@media (min-width: 1440px){
    #features div{
        background-size: 60% 120%;
    }

    /* imagem da direita*/
    #features span::after{
        right: 11rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 15rem;
    }
}

@media (min-width: 1500px){
    /* imagem da direita*/
    #features span::after{
        right: 13rem;
    }
}

@media (min-width: 1545px){
    #features span::after{
        right: 14rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 18rem;
    }
}

@media (min-width: 1560px){
    /* imagem da direita*/
    #features span::after{
        right: 14rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 18rem;
    }
}

@media (min-width: 1600px){
    /* imagem da direita*/
    #features span::after{
        right: 18rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 20rem;
    }
}

@media (min-width: 1690px){
    /* imagem da direita*/
    #features span::after{
        right: 21rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 23rem;
    }
}

@media (min-width: 1800px){
    /* imagem da direita*/
    #features span::after{
        right: 24rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 26rem;
    }
}

@media (min-width: 1890px){
    /* imagem da direita*/
    #features span::after{
        right: 27rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 29rem;
    }
}

@media (min-width: 1960px){
    /* imagem da direita*/
    #features span::after{
        right: 29rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 32rem;
    }
}

@media (min-width: 2040px){
    /* imagem da direita*/
    #features span::after{
        right: 32rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 35rem;
    }
}

@media (min-width: 2150px){
    /* imagem da direita*/
    #features span::after{
        right: 35rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 38rem;
    }
}

@media (min-width: 2260px){
    /* imagem da direita*/
    #features span::after{
        right: 38rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 41rem;
    }
}

@media (min-width: 2330px){
    /* imagem da direita*/
    #features span::after{
        right: 41rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 44rem;
    }
}

@media (min-width: 2440px){
    /* imagem da direita*/
    #features span::after{
        right: 44rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 47rem;
    }
}

@media (min-width: 2500px){
    /* imagem da direita*/
    #features span::after{
        right: 46rem;
    }
    
    /* imagem da esquerda*/
    #features span::before{
        left: 49rem;
    }
}