header{
    width: 100vw;
    padding: 0.5rem;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: var(--color-dark);
}

#mobile-menu-icon img{
    width: 2.5rem;
    height: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate{
    text-decoration: none;
    color: var(--color-tertiary);
}

.navigate:hover{
    color: var(--color-prymary);
}

#logo{
    margin-left: 1rem;
    width: 10vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 0.3rem;
}

@media (max-width: 768px){
    #mobile-menu-icon{
        margin-right: 1rem;
    }

    #mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: none;
        position: absolute;
        background-color: var(--color-dark);
        width: 50vw;
        border-radius: 1rem;
        right: 0;
    }

    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        list-style: none;
        text-align: center;
        margin-top: .5rem;
        padding-bottom: 1rem;
    }

    .menu-mobile li{
        padding: 1rem 0;
    }

    .open{
        display: block;
    }
}

/* Tablet */
@media (min-width: 768px){
    #menu-desktop{
        display: flex;
        list-style: none;
        display: flex;
        gap: 0.8rem;
        font-size: 0.95rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    #mobile-menu-icon{
        display: none;
    }

    .menu-mobile{
        display: none;
    }

    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    header ul{
        font-size: 1.3rem;
        gap: 2rem;
    }
    
    .navigate:hover{
        color: var(--color-prymary);
    }

}

/* Desktop */
@media (min-width: 960px){
    header nav{
        justify-content: space-between;
    }

    #menu-desktop{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .navigate:hover{
        color: var(--color-prymary);
        font-size: 1.1rem;
        transition: 1s;
    }
}

@media (min-width: 1440px){
    header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}

@media (min-width: 1600px){
    header nav{
        justify-content: space-evenly;
    }
}