#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../assets/back-home-3.png") no-repeat;
    background-size: 100% 100%;

    background: radial-gradient(circle, rgb(29, 28, 28) 39%, rgb(36, 37, 36) 55%, rgb(19, 18, 18) 88%);
}

.surface{
    font-size: 6.5rem;
    position: relative;
    z-index: 3;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.headphones{
    font-size: 4.5rem;
    font-weight: 800;
    z-index: 2;
}

.img-home{
    position: absolute;
    transform: rotateX(25deg);
    height: 40vh;
    z-index: 2;
}

@media (min-width: 600px){

    .surface{
        font-size: 7.5rem;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    
    .headphones{
        font-size: 5.5rem;
    }

    .img-home{
        height: 50vh;
    }
}

@media (min-width: 750px){
    .surface{
        font-size: 6.5rem;
        margin-top: 18rem;
        margin-bottom: 6rem;
    }
    
    .headphones{
        font-size: 6.5rem;
    }

    .img-home{
        height: 70vh;
    }
}

@media (min-width: 600px){
    
}

@media (min-width: 650px){
    
}

@media (min-width: 900px){

    .surface{
        font-size: 6.5rem;
        margin-top: 17rem;
    }
    
    .headphones{
        font-size: 6.5rem;
    }
}


@media (min-width: 1100px){
    
}

@media (min-width: 1300px){
    
}